header {
    border-bottom: 4px solid #AE2134;
}

header ul {
    background: #AE2134;
    padding: 5px 0;
    margin: 20px 0 0;
}

header .mainLogo {
    padding: 10px;
}

header ul li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
}

header ul li:nth-of-type(1):after {
    content: none;
}

header ul li:after {
    content: '|';
    position: absolute;
    left: -5px;
    top: 1px;
    color: #999;
    font-size: 12px;
}

header ul li a {
    display: block;
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    font-size: 13px;
}

header ul li a:hover {
    color: #999;
}


html,
body {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    font-family: Merriweather, serif;
    font-size: 22px;
    color: #000;
    background-color: #F4F7FA;
}

a {
    color: #004b9c;
    text-decoration: none;

}

.main_title {
    text-shadow: -0 -2px 0 #000000,
    0 -2px 0 #000000,
    -0 2px 0 #000000,
    0 2px 0 #000000,
    -2px -0 0 #000000,
    2px -0 0 #000000,
    -2px 0 0 #000000,
    2px 0 0 #000000,
    -1px -2px 0 #000000,
    1px -2px 0 #000000,
    -1px 2px 0 #000000,
    1px 2px 0 #000000,
    -2px -1px 0 #000000,
    2px -1px 0 #000000,
    -2px 1px 0 #000000,
    2px 1px 0 #000000,
    -2px -2px 0 #000000,
    2px -2px 0 #000000,
    -2px 2px 0 #000000,
    2px 2px 0 #000000,
    -2px -2px 0 #000000,
    2px -2px 0 #000000,
    -2px 2px 0 #000000,
    2px 2px 0 #000000;
}

#title_block {
    height: 504px;
    width: 100%;
}

.title_block_wrapper {
    width: 100%;
    height: 100%;
}

.title_block_content {
    position: relative;
    width: 100%;
    height: 100%;
}

.title_block_img .title_img {
    margin: 0px !important;
    padding: 0px !important;
    height: 100% !important;
    width: 100% !important;
    display: inline !important;
    -o-object-fit: cover;
    object-fit: cover;
}

.title_block_img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.title_block_shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background: #000 !important;
    opacity: 0.7;
}

.title_block_texts {
    position: relative;
    z-index: 9;
    background: transparent !important;
    padding: 21px;
}

.title_block_bread span {
    color: #fff;
    font: bold 10px/16px "IBM Plex Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: .88;
}

.title_h1 {
    font: 600 40px/48px "IBM Plex Sans", sans-serif;
    color: #fff;
}

.title_bq {
    border-left: 4px solid #349dee;
    padding-left: 16px;
    color: #fff;
    opacity: 0.88;
    font: 24px/40px Merriweather, serif;

}

.title_block_author {
    margin-top: 26px;
}

.tauthor {
    font: 600 19px/24px "IBM Plex Sans", sans-serif;
    color: #349dee;
}

.tdate {
    margin-top: 2px;
    color: #fff;
    font: 500 10px/16px "IBM Plex Sans", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.title_block_texts div {
    background: transparent !important;
}

#top_xs {
    padding-top: 5px;
    display: none;
    height: 80px;
    background-repeat: no-repeat;
    background-position: top right;
}

.lead_text {
    color: #565d6d;
}

#top_xs embed {
    width: 50px;
    height: 50px;
}

#top_xs_left {
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

#top_xs_right {
    width: 50px;
    height: 50px;
    float: right;
    margin-top: 10px;
}

#head_title {
    background-size: cover;
    height: 300px;
    position: relative;
    padding: 15px;
}

#top {
    height: 120px;
    background: transparent;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top right;
}

#topwrap {
    height: 80px;
    max-width: 1000px;
    margin: 0 auto;
    background: transparent;
}

.topleft {
    height: 80px;
    width: 740px;
    float: left;
    position: relative;
    margin-left: 10px;
}

#head_title:before {
    display: block;
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1400;
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
    background: -webkit-linear-gradient(top, #000000 0%, #000000 100%);
    background: -moz-linear-gradient(top, #000000 0%, #000000 100%);
    background: -o-linear-gradient(top, #000000 0%, #000000 100%);
    background: linear-gradient(to bottom, #000000 0%, #000000 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}


.topright {
    height: 110px;
    width: 224px;
    float: right;
    background: url('../img/jornal.jpg') no-repeat;
}

.toplogo {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
}

.toplogo embed {
    border: 0px;
    max-width: 50px;
    max-height: 50px;
    overflow: hidden !important;
}

.topdate {
    position: absolute;
    top: 25px;
    left: 500px;
    font-size: 12px;
    line-height: 20px;
    color: #96a0a8;
}

.topdate .city {
    display: block-inline;
    font-size: 13px;
    font-weight: bold;
    margin-left: 25px;
    color: #05519d;
}

#bodyWrapper {
    max-width: 1000px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
}

#mainWrapper {
    width: 100%;
    height: 100%;
}

#mainWrapper div {
    background-color: #FFFFFF;
}

#wrapper {
    max-width: 1000px;
    margin: 0px auto;
}

#subtop {
    width: 998px;
    color: #39b4ff;
    margin: 0 auto;
    background: #F3F3F3 !important;
    border: solid 1px #e7e7e7;
    height: 30px;
}

#subtop h2 {
    line-height: 40px;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#subtop ul {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    padding: 0;
    list-style: none;
    margin-left: 10px;
}

#subtop ul li {
    display: inline-block;
    margin-right: 11px;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.99px;
    padding: 3px;
    color: #000;
}

#subtop ul li.active {
    /*
	border: 2px solid;
    border-radius: 3px;
	padding:4px;
	*/
}

.tag {
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 0 9px;
    width: auto;
    height: 30px;
    line-height: 28px;
    font-size: 13px;
    letter-spacing: 0.1px;
    font-weight: normal;
    background-color: transparent;
    color: #366799;
    border: 1px solid #7e9fb8;
    border-radius: 2px;
    text-decoration: none;
    cursor: text;
}

#subtop .tagactive {
    background-color: #01478d;
    border-color: #01478d;
    color: white;
    text-decoration: none;
}

#content {
    padding: 0px;
    text-align: left;
    width: 100%;
}

#content img {
    max-width: 100%;
    display: block;
    margin: 20px 0px;
}

#content .padWrap {
    padding: 15px;
}

#comments .coment_ava img {
    margin: 0px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

#content p {
    font-size: 18px;
    line-height: 29px;
}

.pg {
    font-size: 17px !important;
    line-height: 28px !important;
    margin-bottom: 20px;
}

#content .date {
    display: inline-block;
    color: #a3b0b9;
    font-size: 13px;
}

#content .date::before {
    display: inline-block;
    content: "";
    margin-right: 10px;
    width: 10px;
    height: 10px;
}

#content h1 {
    font-size: 36px;
    line-height: 50px;
    font-weight: bold;
}

#content h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 26px;
    margin-bottom: 33px;
    line-height: 32px;
}

#content h3 {
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 25px;
}

#content ul li span {
    display: block;
    font-size: 16px;
    color: gray;
    font-weight: normal;
    line-height: 20px;
}

.glava {
    list-style-image: url('../img/qtick.png');

}

.glava li {
    margin-bottom: 20px;
    line-height: 32px;
    font-weight: bold;
    font-family: "IBM Plex Sans", sans-serif;
}

.subtitle {
    display: block;
    margin-bottom: 33px;
    font-size: 22px;
}

.note {
    float: right;
    max-width: 200px;
    font-weight: 500 !important;
    font-size: 18px !important;
}

.note_left {
    float: left;
    max-width: 200px;
    font-weight: 500 !important;
    font-size: 18px !important;
}

#content ul {
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
}

#content ul li {
    margin-bottom: 20px;
}

#content blockquote {
    border-left: 5px solid;
    border-color: #39b4ff;
    padding: 10px 25px 10px 25px;
    margin: 35px;
    color: #39b4ff;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
}

#comments {
    margin-top: 120px;
}

#comments .pg {
    font-size: 14px !important;
    line-height: 28px !important;
}

#comments h2 {
    background: url('../img/comentsm.jpg') no-repeat;
    padding-left: 40px;
    color: #000;
    border-bottom: 0px solid;
    border-color: #000;
    text-transform: uppercase;
    padding-bottom: 10px;
}

#comments .item {
    text-align: left;
    padding: 10px;
    margin: 10px 0px;
    min-height: 80px;
    border-bottom: 1px dashed #05519d;
}

#comments .item :last-child {
    border-bottom: none;
}

#comments .item .info {
}

#comments .item .name {
    font-size: 16px;
    font-weight: bold;
    color: #05519d;
}

#comments .item .info p {
    display: block;
    font-size: 15px;
    line-height: 19px;
    margin-top: 4px;
    text-align: justify;
    margin-right: 20px;
}

#comments .coment_ava {
    float: left;
    margin-right: 15px;
}

#comments .coment_ava img {
    margin: 0px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

#comments .date {
    font-weight: normal;
    background: none;
    display: inline;
}

#comments .date::before {
    background-image: none;
    margin-right: 0px;
}

#sidebar {
    min-height: 800px;
    width: 300px;
    float: left;
}

#sidebar h3 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

#sidebar .news {
    border-top: 1px solid #a1c5e1;
    padding: 20px 0 20px 0;
}

#sidebar .news .time {
    float: left;
    font-weight: bold;
    color: #05519d;
    text-align: left;
    margin-bottom: 5px;
}

#sidebar .news p {
    margin: 0 0 0 50px;
    font-size: 16px;
    color: black;
    display: block;
    font-weight: bold;
}

#sidebar .news p .play {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    width: 19px;
    height: 19px;
}

.form_phone {
    display: inline-block;
    position: relative;
}

.help {
    display: none;
    position: absolute;
    top: -33px;
    left: 0;
    background: red;
    background-color: rgb(231, 76, 60);
    border: 1px dashed black;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 14px;
    margin: 3px 0px 0px;
    padding: 6px 8px 6px;
}

input:focus + .help {
    display: block;
}

.price {
    color: red;
    font-weight: 700;
}

#fullscroll_element a img {
    width: 100%;
    max-width: 250px;
}

@media screen and (max-width: 1020px) {

    header ul {
        display: none;
    }

    header {
        text-align: center;
    }

    #subtop {
        width: 100%;
    }

    #content {
        width: 100%;
    }

    #sidebar {
        display: none;
    }

    #head_title {
        background-size: cover;
        height: 300px;
        position: relative;
        padding: 15px;
    }
}

@media screen and (max-width: 999px) {
    .topright {
        display: none;
    }
}

@media screen and (max-width: 840px) {
    .topdate {
        display: none;
    }
}

@media screen and (max-width: 780px) {
    .topleft {
        width: 100%;
    }

    #head_title {
        background-size: cover;
        height: 250px;
        position: relative;
        padding: 15px;
    }

    .note,
    .note_left {
        float: none;
        max-width: 100%;
    }
}

@media screen and (max-width: 690px) {
    .topleft {
        width: 100%;
    }

    #tags {
        display: none;
    }
}

@media screen and (max-width: 660px) {
    #head_title {
        background-size: cover;
        background-repeat: no-repeat;
        height: 170px;
        position: relative;
        padding: 15px;
    }

    #content h1 {
        font-size: 19px;
        line-height: 36px;
    }

    .mainLogo {
        width: 400px;
    }
}

@media screen and (max-width: 590px) {
    .mainLogo {
        width: 300px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 560px) {

    /*
	#top {display:none;}
	#top_xs {display:block;}
	*/
    #head_title {
        background-size: cover;
        height: 170px;
        position: relative;
        padding: 15px;
    }

    .pg {
        margin-left: 0px;
        margin-right: 0px;
    }

    #content .padWrap {
        padding: 8px;
    }
}

@media screen and (max-width: 520px) {

    /*
	#top {display:none;}
	#top_xs {display:block;}
	*/
    #head_title {
        background-size: cover;
        height: 170px;
        position: relative;
        padding: 15px;
    }
}

@media screen and (max-width: 420px) {

    .title_bq {
        font-size: 18px !important;
        line-height: 28px !important;
    }

    .tauthor {
        font-size: 14px;
    }
}

@media screen and (max-width: 470px) {
    .mainLogo {
        width: 200px;
    }

    #top {
        height: 80px;
    }
}

@media screen and (max-width: 380px) {
    .mainLogo {
        width: 180px;
    }
}

@media screen and (max-width: 345px) {
    .mainLogo {
        width: 150px;
    }
}

@media screen and (max-width: 310px) {
    .mainLogo {
        display: none;
    }

    #top {
        background-position: top center;
    }
}

@media screen and (max-width: 358px) {
    #subtop ul li {
        font-size: 11px;
    }
}

@media screen and (min-width: 1300px) {
    #subtop {
        width: 998px;
    }

    #wrapper {
        max-width: 1000px;
    }

    #content {
        width: 100%;
    }

    #topwrap {
        max-width: 1000px;
    }
}

@media screen and (min-width: 1600px) {
    #subtop {
        width: 998px;
    }

    #wrapper {
        max-width: 1000px;
    }

    #content {
        width: 100%;
    }

    #topwrap {
        max-width: 1000px;
    }
}


.description {
    font-size: 12px;
    width: 600px;
    max-width: 100%;
}

.delivery {
    position: relative;
    display: inline-block;
}

.delivery__price {
    position: absolute;
    bottom: 58px;
    left: 11%;
    border: 5px dashed #333;
    border-radius: 25px;
    padding: 10px;
}

.delivery__item--new {
    font-size: 60px;
    font-weight: bold;
    color: #ff0000 !important;
}

@media screen and (max-width: 580px) {

    .delivery__price {
        border-width: 3px;
        left: 15%;
        bottom: 15%;
        padding: 7px;
    }

    .delivery__item--old {
        font-size: 14px;
    }

    .delivery__item--new {
        font-size: 30px;
    }
}